 * {
     box-sizing: border-box;
 }


 body {
     background: #1276a8;
     margin: 0;
     font-family: "Lato", sans-serif;
     max-width: 100%;
 }

 .content {
     max-width: 800px;
     width: 100%;
     margin: 52px auto;
     background: grey;
     padding: 10px;
     border: 2px solid black;
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;
 }

 .content img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
     max-width: 100%;
 }

 .graph {
     max-width: 500px;
     width: 100%;
     max-height: 500px;
     height: 100%;
     background-color: white;
     margin: 0 auto;
     border-radius: 5%;
     border: 1px solid black;
     float: left;
     text-align: center;
 }

 table,
 th,
 td {
     border: 1px solid grey;
     border-collapse: collapse;
     text-align: center;
     color: grey;
     border-radius: 5%;
 }

 table {
     width: 400px;
     height: 400px;
     background-color: white;
     margin: 0 auto;
 }

 .previous {
     background-color: #343a40;
     color: white;
     border: 1px solid black;
     padding: 32px 32px;
     float: left;
     margin-left: 50px;
     margin-top: 125px;
     text-decoration: none;
     margin-right: 20px;
     border-radius: 50%;
 }

 .next {
     background-color: #343a40;
     color: white;
     border: 1px solid black;
     padding: 32px 32px;
     float: left;
     text-decoration: none;
     margin-left: 20px;
     margin-top: 125px;
     border-radius: 50%;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #343a40;
     position: fixed;
     top: 0;
     width: 100%;
 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 1.4em;
     font-family: "lato", sans-serif;
 }

 .show {
     display: none;
 }

 .coins p {
     padding-top: 100px;
     font-size: 4em;
 }

 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }

 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }

 .sidenav a:hover {
     color: #f1f1f1;
 }

 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }

 #loader {
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 1;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
     }
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }

 /* Add animation to "page content" */

 .animate-bottom {
     position: relative;
     -webkit-animation-name: animatebottom;
     -webkit-animation-duration: 1s;
     animation-name: animatebottom;
     animation-duration: 1s
 }

 @-webkit-keyframes animatebottom {
     from {
         bottom: -100px;
         opacity: 0
     }
     to {
         bottom: 0px;
         opacity: 1
     }
 }

 @keyframes animatebottom {
     from {
         bottom: -100px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }

 #myDiv {
     display: none;
     text-align: center;
 }

 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }

 span {
     font-size: 35px;
     cursor: pointer;
 }

 @media(max-width:800px) {

     .content img {
         width: 10%;
     }

     .graph {
         float: none;
     }

     .previous,
     .next {
         display: none;
     }

     .coins {
         float: none;
     }
     .hide {
         display: none;
     }
     .show {
         display: inline-flex;
         float: right;
     }

     @media(max-width:450px) {
         table {
             width: 100%;
         }
     }
